
<p-inputgroup>
  <p-inputgroup-addon>
    <i class="pi pi-calendar"></i>
  </p-inputgroup-addon>
  <p-floatlabel variant="in">
      <p-datepicker
        id="raceStart"
        [showTime]="true"
        hourFormat="24"
        dateFormat="dd.mm.yy"
        [showSeconds]="true"
        [(ngModel)]="race.raceStart"
        (ngModelChange)="submitChange()"
        [class.ng-dirty]="race.raceStart == undefined"
        [class.ng-invalid]="race.raceStart == undefined"
      />
      <label for="raceStart">Race Start</label>
  </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-calendar-clock"></i>
      </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputmask
        mask="99:99:99"
        [autoClear]="false"
        characterPattern="[0-9]"
        [ngModel]="getRaceDuration()"
        (ngModelChange)="setRaceDuration($event);"
        [class.ng-dirty]="race.raceDurationInMilliseconds == undefined"
        [class.ng-invalid]="race.raceDurationInMilliseconds == undefined"
      />
      <label for="raceDuration">Race Duration (HH:MM:SS)</label>
    </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-car"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputnumber id="fuelTankSize"
        mode="decimal"
        [useGrouping]="false"
        [maxFractionDigits]="3"
        [(ngModel)]="race.fuelTankSizeInLiters"
        (ngModelChange)="submitChange()"
        [class.ng-dirty]="race.fuelTankSizeInLiters == undefined"
        [class.ng-invalid]="race.fuelTankSizeInLiters == undefined"
      />
      <label for="fuelTankSize">Fueltank Size in Liters</label>
    </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-clock"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputnumber id="refuelRate"
        mode="decimal"
        [useGrouping]="false"
        [maxFractionDigits]="3"
        [ngModel]="getRefuelRate()"
        (ngModelChange)="setRefuelRate($event);"
        [class.ng-dirty]="race.refuelRateInMillisecondsPerLiterRefueled == undefined"
        [class.ng-invalid]="race.refuelRateInMillisecondsPerLiterRefueled == undefined"
      />
      <label for="refuelRate">Refuel rate in Liters per Second</label>
    </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-map-marker"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputnumber id="driveThrough"
        mode="decimal"
        [useGrouping]="false"
        [maxFractionDigits]="3"
        [ngModel]="getDrivethrough()"
        (ngModelChange)="setDrivethrough($event)"
        [class.ng-dirty]="race.driveThroughInMilliseconds == undefined"
        [class.ng-invalid]="race.driveThroughInMilliseconds == undefined"
      />
      <label for="driveThrough">Time lost during pit excluding service in seconds</label>
    </p-floatlabel>
</p-inputgroup>
