
<p-inputgroup>
  <p-inputgroup-addon>
    <i class="pi pi-calendar"></i>
  </p-inputgroup-addon>
  <p-floatlabel variant="in">
      <p-datepicker
        id="raceStart"
        [showTime]="true"
        hourFormat="24"
        [(ngModel)]="race.raceStart"
        (ngModelChange)="submitChange()"
        [class.ng-dirty]="race.raceStart == undefined"
        [class.ng-invalid]="race.raceStart == undefined"
      />
      <label for="raceStart">Race Start</label>
  </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-calendar-clock"></i>
      </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputmask
        mask="99:99:99"
        [(ngModel)]="raceDurationInput"
        (ngModelChange)="parseRaceDuration(); submitChange();"
        [class.ng-dirty]="race.raceDurationInMilliseconds == undefined"
        [class.ng-invalid]="race.raceDurationInMilliseconds == undefined"
      />
      <label for="raceDuration">Race Duration (HH:MM:SS)</label>
    </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-car"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputnumber id="fuelTankSize"
        [(ngModel)]="race.fuelTankSize"
        (ngModelChange)="submitChange()"
        [class.ng-dirty]="race.fuelTankSize == undefined"
        [class.ng-invalid]="race.fuelTankSize == undefined"
      />
      <label for="fuelTankSize">Fueltank Size in Liters</label>
    </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-clock"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputnumber id="refuelRate"
        [(ngModel)]="race.refuelRate"
        (ngModelChange)="submitChange()"
        [class.ng-dirty]="race.refuelRate == undefined"
        [class.ng-invalid]="race.refuelRate == undefined"
      />
      <label for="refuelRate">Refuel rate in Liters per Second</label>
    </p-floatlabel>
</p-inputgroup>
<p-inputgroup>
    <p-inputgroup-addon>
        <i class="pi pi-map-marker"></i>
    </p-inputgroup-addon>
    <p-floatlabel variant="in">
      <p-inputnumber id="driveThrough"
        [(ngModel)]="race.driveThrough"
        (ngModelChange)="submitChange()"
        [class.ng-dirty]="race.driveThrough == undefined"
        [class.ng-invalid]="race.driveThrough == undefined"
      />
      <label for="driveThrough">Time lost during pit excluding service in seconds</label>
    </p-floatlabel>
</p-inputgroup>
