<p-panel header="Race Statistics" [toggleable]="true">
  <p-table [value]="getRaceStats()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Driver</th>
        <th>Laps</th>
        <th>Laps Share (%)</th>
        <th>Time on Track</th>
        <th>Time on Track Share (%)</th>
        <th>Time in Pitlane</th>
        <th>Last Stints ends</th>
      </tr>
    </ng-template>
    <ng-template #body let-driverstat>
      <tr>
        <td>{{ driverstat.name }}</td>
        <td>{{ driverstat.lapsDriven }}</td>
        <td>{{ driverstat.lapsShare * 100 | number : "2.0-1" }}</td>
        <td>{{ driverstat.timeDriven | millisToDuration: 'hours' : 'milliseconds' }}</td>
        <td>{{ driverstat.timeShare * 100 | number : "2.0-1" }}</td>
        <td>{{ driverstat.timeInPitlane | millisToDuration }}</td>
        <td>{{ driverstat.lastStintEnd | date: 'dd.MM.yyyy HH:mm:ss z'}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
