<p-button icon="pi pi-plus" [rounded]="true" [text]="true" label="Add Driver" (click)="addDriver();" />
<p-tabs [value]="driverTab" scrollable>
    <p-tablist>
        @for (driver of drivers; track $index) {
            <p-tab [value]="$index">
              {{driver.name}}
              <p-button icon="pi pi-minus" [rounded]="true" size="small" [text]="true" (click)="removeDriver($index);" />
            </p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        @for (driver of drivers; track $index) {
            <p-tabpanel [value]="$index">
                <app-driver [(driver)]="drivers[$index]" (driverChange)="submitChange();"></app-driver>
            </p-tabpanel>
        }
    </p-tabpanels>
</p-tabs>
