<div class="container">
  <div style="order: 1; min-width: 30vw; min-height: 10vh; max-width: 70vw; max-height: 90vh;">
    <p-panel header="Race">
      <p class="m-0">
          <app-racemanager [(race)]="race" (raceChange)="calculateStints()"></app-racemanager>
      </p>
    </p-panel>
  </div>
  <div style="order: 1; min-width: 30vw; min-height: 10vh; max-width: 70vw; max-height: 90vh;">
    <p-panel header="Drivers">
      <p class="m-0">
          <app-drivermanager [(drivers)]="drivers" (driversChange)="calculateStints()"></app-drivermanager>
      </p>
    </p-panel>
  </div>
</div>
@for (stint of stints; track $index) {
  <p>
    Stint #: {{stint.counter}} - driven by {{stint.driver?.name}} for {{stint.laps}} laps
  </p>
}

<!-- stint table -->
<!-- <div>
<p-table [value]="stints" dataKey="counter" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th style="width:25%">
                Name
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-stint let-editing="editing">
        <tr>
            <td [pEditableColumn]="stint.driver.name" pEditableColumnField="code">
                <p-cellEditor>
                    <ng-template #input>
                        <input
                            pInputText
                            type="text" />
                    </ng-template>
                    <ng-template #output>
                        {{ stint.driver.name }}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>
</div> -->
