<p-tabs value="0">
    <p-tablist>
        @for (driver of drivers; track $index) {
            <p-tab [value]="$index" class="{{active(driver)}}">{{ driver.name }}</p-tab>
        }
    </p-tablist>
    <p-tabpanels>
        @for (driver of drivers; track $index) {
            <p-tabpanel [value]="$index">
                <app-driver [driver]="drivers[$index]"></app-driver>
            </p-tabpanel>
        }
    </p-tabpanels>
</p-tabs>
@for (driver of drivers; track $index) {
    {{ driver.name }}
    {{ driver.fuelConsumption }}
}
