<div class="card w-full h-full shadow-md card-md card-border border-base-300">
  <div class="card-body gap-2 p-4">
    <h2 class="card-title">Race Statistics</h2>
    <div
      class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100"
    >
      <table class="table">
        <thead>
          <tr>
            <th>Driver</th>
            <th>Laps</th>
            <th>Laps Share (%)</th>
            <th>Time on Track</th>
            <th>Time on Track Share (%)</th>
            <th>Time in Pitlane</th>
            <th>Last Stints end</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Driver 1</td>
            <td>43</td>
            <td>71,7</td>
            <td>01:58:25.922</td>
            <td>78.3</td>
            <td>00:01:34.167</td>
            <td>05.06.2025 00:16:29 GMT+2</td>
          </tr>
          <tr class="font-bold">
            <td>Total</td>
            <td>43</td>
            <td>71,7</td>
            <td>01:58:25.922</td>
            <td>78.3</td>
            <td>00:01:34.167</td>
            <td>05.06.2025 00:16:29 GMT+2</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
</div>
